.manifest-container {
    background-color: var(--white-1);
    color: var(--black);
    font-weight: 400;
    width: 100%;

    .info-column-container {
        flex: 5;
        align-items: center;
        padding: 3em 2em 3em 0;

        .title-container {
            align-items: center;
            width: 80%;

            .green-dot {
                background-color: var(--green-1);
                min-height: 2em;
                min-width: 2em;
                border-radius: 100em;
            }

            .title {
                font-size: 3em;
                font-weight: 800;
                line-height: 1em;
            }
        }

        .manifest-grid {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .aux {
                border: 1px solid red;
            }
        }
    }
}

.manifest-background-container {
    flex: 4;
    margin-top: auto;
    font-size: 0;
}

.principle-container {
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5em;
    line-height: 1.2rem;
    text-align: center;
    gap: 1em;

    .top-container {
        align-items: center;
        text-align: center;

        .icon-container {
            width: 6em;
            margin: 0 auto;
        }

        .title {
            font-size: 1.8rem;
            line-height: 1em;
            font-weight: 800;
        }
    }


    .description {
        font-size: 1.1em;
    }
}

@media (max-width: 700px) {
    .manifest-container {
        .info-column-container {
            padding: 2em 1em;
            overflow-y: scroll;

            .manifest-grid {
                grid-template-columns: 1fr;
            }

            .title-container {

                .green-dot {
                    min-height: 1em;
                    min-width: 1em;
                }

                .title {
                    font-size: 1.8em;
                }
            }
        }
    }

    .manifest-background-container {
        display: none;
    }
}