.manifest-container {
    background-color: var(--white-1);
    color: var(--black);
    font-weight: 400;
    width: 100%;
}

.manifest-info-column-container {
    flex: 5;
    align-items: center;
    padding: 3rem 2rem 3rem 0;
    justify-content: space-between;

}

.manifest-title-container {
    align-items: center;
    width: 80%;
}

.manifest-title {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 800;
}

.manifest-green-dot {
    background-color: var(--green-1);
    min-height: 2rem;
    min-width: 2rem;
    border-radius: 100em;
}

.principle-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.manifest-background-container {
    flex: 4;
    margin-top: auto;
    position: relative;
    height: 600px;
}

.principle-container {
    padding: 1rem;
    line-height: 1.2rem;
    text-align: center;
    gap: 1rem;
}

.principle-top-container {
    align-items: center;
    text-align: center;
}

.principle-icon-container {
    width: 90px;
    height: 90px;
    position: relative;
    margin: 0 auto;
}

.principle-title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 800;
}

.principle-description {
    font-size: 1.1em;
}

@media (max-width: 700px) {

    .manifest-info-column-container {
        padding: 2em 1em;
        overflow-y: scroll;
    }

    .principle-grid {
        grid-template-columns: 1fr;
    }

    .manifest-green-dot {
        min-height: 1rem;
        min-width: 1rem;
    }

    .principle-title {
        font-size: 1.6rem;
    }

    .manifest-title-container {
        width: 100%;
    }

    .manifest-background-container {
        display: none;
    }

    .manifest-title {
        font-size: 2rem;
        line-height: 2rem;
    }
}