.home-container {
    background-color: var(--white-2);
}

.footer {
    background-color: var(--yellow-1);
    width: 100%;
    padding: 12px 16px;
    overflow-x: scroll;
    font-size: 1.2em;

    /* for Chrome */
    @-webkit-keyframes my-animation {
        from { -webkit-transform: translateX(100%); }
        to { -webkit-transform: translateX(-100%); }
      }
      
    @keyframes my-animation {
        from {
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }
        to {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }

    .text-scroller {
        white-space: nowrap;
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        
        -moz-animation: my-animation 30s linear infinite;
        -webkit-animation: my-animation 30s linear infinite;
        animation: my-animation 30s linear infinite;
    }
    
    
}

.mainframe {
    padding: 50px;
    flex-grow: 1;
    justify-content: space-between;

    .logo {
        width: 150px;
        height: 70px;
        background-color: var(--green-1);
    }
    
    .buttons-container {
        width: fit-content;
        .row {
            align-items: center;
        }
        > * {
            text-decoration: none;
        }
        .dot {
            height: 10px;
            width: 10px;
            border-radius: 100em;
        }
        .dot.about {
            background-color: var(--red-1);
        }
        .dot.roadmap {
            background-color: var(--yellow-1);
        }
        .dot.contact {
            background-color: var(--blue-1);
        }
        .home-button {
            background-color: var(--green-1);
            padding: 4px 16px;
            color: white;
            font-weight: 800;
            border-radius:  12px 0 12px 0;
            width: fit-content;
        }
    }
    
    .title-container {
        max-width: 500px;
        margin-bottom: 5em;
    
        .title {
            font-size: 3em;
            font-weight: 800;
        }
        .subtitle {
            font-size: 1.2em;
            line-height: 1.2em
        }
    }
}


